/* font link */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* font link */
/* Common Start */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #898989;
}
.custom-padding{
    padding: 100px 0 120px;
}
/* Common End */
/* Header Start */
header {
    background-color: #fcdb00;
    padding: 20px 0;
}

.n-c {}

.menu {}

.menu ul {}

.menu ul li {}

.menu ul li a {
    padding: 0 62px !important;
    font-weight: 700;
    font-size: 22px;
    color: #010101;
}

.menu ul li:last-child a {
    margin: 0;
}

.menu ul li a:hover {
    color: #f5f5f5;
}


/* Header End */
/* Slider Start */
.slider {
    background-color: #fcdb00;
    padding-bottom: 100px;
}

.cid {
    bottom: -80px;
}

.cid [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 50%;

}

.s-text {
    margin-top: 50px;
}

.s-text h1 {
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}

.s-text h2 {
    margin: 20px 0;
    font-size: 20px;
    color: #313841;
}

.s-text p {
    margin-bottom: 35px;
    color: #555555;
}

.icons-c li {
    margin-right: 29px !important;
}

.icons-c li {}

.icons-c li i {
    cursor: pointer;
    font-size: 42px;
    color: #010101;
    transition: .33s linear;
}

.icons-c li i:hover {
    transform: scale(.8);
}

/* Slider end */
/* features start  */
.features{
   
}

/* features title  */
.c_title {}

.c_head {
    margin-bottom: 15px;
    font-size: 32px;
    color: #010101;
    line-height: 28px;
}

.c_para {
    font-size: 20px;
    color: #313841;
    line-height: 28px;
}

/* features title end */

/* features Item */
.f-item{
    margin-top: 70px;
}
.f-icon i {
    margin-top: 2px;
    font-size: 50px;
    color: #010101;
    transition: .33s linear;
}
.f-icon i:hover{
    transform: scale(.8);
}
.f-text{

}
.f-text h2{
margin-bottom: 10px;
font-size: 22px;
color:#010101;
}
.f-text p{
    letter-spacing: 1px;
    word-spacing: 4px;
    margin:0;
}
/* features Item end */

/* Features end */
/* Contact start */
.contact{
background-color: #010101;
}
.custom-color{
color:#fcdb00;
}
.para-color{
color:#898989;
}
.c-input{
    padding: 35px 0 65px;
}
.custom-input{
    padding:15px 20px;
    width: 100%;
    height: 50px;
    font-family: 'PT Sans', sans-serif;
    color: #898989;

}
.btn-custom{ 
    width: 100%;
    height: 50px;
    background-color: #fcdb00;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color:#010101;
    text-transform: uppercase;
   
}
.btn-custom:hover{
    background-color:#f5f5f5;
    color:#010101;
}
.btn-custom:active{
    background-color:#f5f5f5 !important;
    color:#010101 !important;
}

.social-icon li{
margin-right: 25px !important;
}
.social-icon li:last-child{
    margin-right: 0 !important;
}
.social-icon li i{
font-size: 42px;
color:#fcdb00;
transition: .33s linear;
}
.social-icon li i:hover{
    color:#f5f5f5;
}
/* Contact end */
/* Footer start */
    footer{
        background-color: #010101;
        padding-bottom: 100px;
    }
    .f_1{
        color:#f5f5f5;
    }
    .f_1 address{
        margin: 0;
    }
    .f_2{

    }
    .f_2 p a{
        color:#f5f5f5;
        text-decoration: none;
    }
    
    /* Footer End */
